---
import Layout from '../../layouts/Layout.astro';

---

<Layout title="Mantenimiento Web: La Clave del Éxito">
  <section class="main-content">
    <h1 class="title">Mantenimiento Web: La Clave del Éxito</h1>
    <p class="subtitle">La presencia online sólida es esencial para el éxito de cualquier empresa o proyecto. La creación y el mantenimiento de un sitio web bien optimizado son fundamentales para atraer y retener a los visitantes. En este artículo, exploraremos la importancia del mantenimiento web y cómo puede marcar la diferencia en la experiencia del usuario y el rendimiento web.</p>
    <div class="image-text-container">
      <img src="/public/images/mantenimiento_web_profesional.jpg" alt="Imagen de mantenimiento web" class="maintenance-image" />
      <div class="text-with-button">
        <p class="subtitle">El mantenimiento web se refiere a las actividades periódicas necesarias para garantizar que un sitio web funcione sin problemas. Implica actualizaciones técnicas, corrección de errores, optimización de velocidad y seguridad, entre otras tareas cruciales. Estas actividades son esenciales para garantizar que su sitio web siga siendo eficiente y efectivo a lo largo del tiempo.</p>
        <div class="button-container">
          <a href="/contacto" class="contact-button">Contáctame para informarte de mis mantenimientos</a>
        </div>
      </div>
    </div>
  </section>
</Layout>

<style>
.title {
  font-size: 2rem;
  color: #003366; /* Dark blue color */
}

.subtitle {
  font-size: 1.25rem;
  color: rgba(55, 65, 81, var(--tw-text-opacity)); /* Secondary color */
  margin-bottom: 2rem;
  line-height: 1.625; /* Match the line height of the text next to the image */
}

.main-content {
  padding: 2rem;
}

.image-text-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}

.maintenance-image {
  width: 100%;
  max-width: 700px; /* Adjust the size of the image as needed */
  height: auto;
  margin-right: 2rem; /* Space between image and text */
}

.text-with-button {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center text and button vertically */
  align-items: center; /* Center text and button horizontally */
  text-align: center; /* Center text alignment */
  max-width: 500px; /* Adjust the maximum width as needed */
}

.text-with-button p {
  margin-bottom: 1rem;
  font-size: 1.25rem; /* Match the format of the intro text */
}

.button-container {
  text-align: center; /* Center the button */
}

.contact-button {
  display: inline-block;
  padding: 0.5rem 1rem;
  background-color: #520066; /* Dark blue color */
  color: white;
  text-decoration: none;
  border-radius: 0.25rem;
}

.contact-button:hover {
  background-color: #d6abcb; /* Lighter blue color on hover */
}

.additional-text {
  margin-top: 2rem;
  font-size: 1.25rem;
  color: rgba(55, 65, 81, var(--tw-text-opacity)); /* Secondary color */
  text-align: center;
  line-height: 1.625;
}
</style>
