---
import { getCollection } from "astro:content";
import { Picture } from "astro:assets";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";

// Filter team entries with 'draft: false' & date before current date
const publishedTeamMembers = await getCollection("team", ({ data }) => {
  return !data.draft && data.publishDate < new Date();
});
---

<Layout title="Sobre mí">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Sobre mí</Fragment>
      <Fragment slot="desc">Quién está detrás de este proyecto</Fragment>
    </Sectionhead>

    <div class="flex flex-col gap-3 mx-auto max-w-4xl mt-16">
      <p class="text-lg leading-relaxed text-slate-500">
        ¡Hola! Mi nombre es Noelia y soy desarrolladora web. Mi pasión por los animales me ha llevado 
        a crear este sitio web, con el objetivo de mejorar el proceso de adopción y brindar 
        apoyo a las protectoras de animales. Creo firmemente que al centralizar los esfuerzos, podemos 
        dar más visibilidad a todas las protectoras por igual y así ayudar a más mascotas a encontrar un 
        hogar.
       </p>
       <p class="text-lg leading-relaxed text-slate-500">
        Es importante destacar que Adopta Mascota es un proyecto sin fines económicos. Cualquier 
        colaboración o donación que recibamos se destinará a mejorar la plataforma y apoyar a las 
        protectoras. Creo en la transparencia y la responsabilidad, por lo que quiero asegurarte 
        que el dinero donado será utilizado exclusivamente para este fin.
        </p>

        <p class="text-lg leading-relaxed text-slate-500">
        ¡Explora nuestro sitio, conoce a nuestras adorables mascotas y únete a nuestra comunidad de amantes
        de los animales! Juntos, podemos hacer una diferencia en la vida de tantos seres queridos de cuatro patas.
        Gracias por elegir Adopta Mascota. ¡Juntos, podemos cambiar vidas y hacer que nuestros amigos peludos
        tengan un final feliz!
        </p>
       <p class="text-lg leading-relaxed text-slate-500">
        ¡Bienvenido a bordo!
      </p>
      <p class="text-lg leading-relaxed text-slate-500">
        El equipo de Adopta Mascota 🐾
      </p>
    </div>
    <div class="grid md:grid-cols-3 gap-10 mx-auto max-w-4xl mt-12">
      
    </div>
  </Container>
</Layout>
