---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";

const pricing = [
  {
   
  },
];
---

<Layout title="Donar">
  <Container>
    <Sectionhead>
      <Fragment slot="title">¿Quieres colaborar?</Fragment>
      <Fragment slot="desc">
        Todo el dinero recaudado irá para el mantenimiento y mejora de la aplicación y para ayudar a las protectoras. Gracias.
      </Fragment>
    </Sectionhead>
    </div>
  </Container>
</Layout>
