---
import Link from "./ui/link.astro";
---

<div
  class="bg-violet-100 p-8 md:px-20 md:py-20 mt-18 mx-auto max-w-5xl rounded-lg flex flex-col items-center text-center border-2">
  <h2 class="text-black text-5xl md:text-6xl tracking-tight">
    Contactar
  </h2>
  <p class="text-slate-500 mt-4 text-lg md:text-xl">
    Si necesitas ponerte en contacto con nosotros, haz click abajo. 
  </p>
  <div class="flex mt-5">
    <Link href="/contact" style="primary">Contactar</Link>
  </div>
</div>


<style>
  h2 {
    font-family: 'Dancing Script', cursive;
  }

  p {
    font-family: 'YourSansFont', sans-serif;
  }
</style>