---
// @ts-ignore
import { Icon } from "astro-icon";

const features = [
  {
    title: "Tu propio espacio",
    description:
      "Construye tu propio espacio para visibilizar a los animales que se dan en adopción de forma rápida y sencilla.",
    icon: "bx:bxs-briefcase",
  },
  {
    title: "100% Gratuito",
    description:
      "En este espacio todos soís bienvenidos. Puedes registrarte de forma gratuita como protectora.",
    icon: "bx:bxs-window-alt",
  },
  {
    title: "Fácil e intuitiva",
    description:
      "La forma más fácil y sencilla de registrarse y publicar a los animales. Fácil contactar con nosotros para resolver tus dudas.",
    icon: "bx:bxs-data",
  },
];
---
<div class="p-10 relative border-t-2 border-b-2 border-gray-200">
  <div class="opacity-20 absolute inset-0 z-0" style="background-image: url('/public/imagenes/fondo.jpg');"></div>
  <div class="mt20 md:mt-0 relative z-10">
    <h2 class="text-5xl lg:text-5xl font-bold lg:tracking-tight text-center">
    Forma parte de este proyecto
    </h2>
    <p class="text-lg mt-4 text-slate-900 text-center">
      Todo lo que necesitas saber.
    </p>
  </div>

  <div class="grid sm:grid-cols-2 md:grid-cols-3 m-14 gap-16">
    {
      features.map((item) => (
        <div class="flex gap-4 items-start">
          <div class="mt-1 bg-black rounded-full p-2 w-8 h-8 shrink-0">
            <Icon class="text-white" name={item.icon} />
          </div>
          <div>
            <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
            <p class="text-slate-900 mt-2 leading-relaxed">{item.description}</p>
          </div>
        </div>
      ))
    }
  </div>
</div>


<style>
  h2 {
    font-family: 'Dancing Script', cursive;
  }

  p {
    font-family: 'YourSansFont', sans-serif;
  }
</style>