<footer class="mt-16 p-10 bg-gray-100 flex flex-col md:flex-row justify-between items-center">
  <p class="text-left text-sm text-slate-600">
    Copyright © {new Date().getFullYear()} Adogta Mascota.
  </p>
  <p class="text-center text-xs text-slate-600 mt-1">
    Made by Noelia Herreros
  </p>
  <div class="flex justify-end">
    <div class="social-links flex gap-8">
      <a href="#" class="social-link"><i class="fab fa-facebook text-2xl text-blue-700 "></i></a>
      <a href="#" class="social-link"><i class="fab fa-twitter text-2xl text-blue-700 "></i></a>
      <a href="#" class="social-link"><i class="fab fa-instagram text-2xl text-blue-700 "></i></a>
    </div>
  </div>
</footer>
