---
import '/src/styles/global.css';

interface Props {
  title: string;
  subtitle: string;
  tagline?: string;
  align?: 'start' | 'center';
}

const { align = 'center', tagline, title, subtitle } = Astro.props;
---

<div class:list={['headline', align]}>
  <div class="headline w-full pt-14 pb-6 flex items-center justify-center">
    <div class="text-center px-12 my-2">

      <h1 class="text-4xl text-gray-900 p-2 font-sans">{title}</h1>
      <h2 class="text-4xl text-gray-800 p-2 font-cursive">{subtitle}</h2>
      <p class="text-left text-lg text-gray-800 my-2">{tagline}</p>

    </div>
  </div>
</div>
