---
import { Picture } from "astro:assets";
import principal from "../assets/principal.jpg";
import Link from "@components/ui/link.astro";
---

<main
  class="grid lg:grid-cols-2 place-items-center mt-4 p-4 md:pt-12 md:pb-24 bg-violet-100">
  <div class="p-8 md:order-1 hidden md:block">
    <Picture
      src={principal}
      alt="Perros en adopción"
      widths={[200, 400, 600]}
      sizes="(max-width: 800px) 100vw, 620px"
      loading="eager"
      format="avif"
    />
  </div>
  <div class="p-8">
    <h2 class="text-5xl mb-10 lg:text-6xl xl:text-7xl font-bold lg:tracking-tight xl:tracking-tighter">
      Adogta Mascota
    </h2>
    <p class="text-xl mt-4 text-slate-600 max-w-ml">
      ¿Estás pensando en adoptar una mascota?
    </p>
    <p class="text-xl mt-4 text-slate-600 max-w-ml">
      En Adopta Mascota, podrás encontrar a tu compañero peludo perfecto. Aquí reunimos protectoras 
      de toda España. Busca la más cercana a ti o, si no te importa la distancia, ¡comienza tu búsqueda! 
      Hay muchos animales esperando encontrar una familia.
    </p>
    <div class="mt-6 flex flex-col sm:flex-row gap-3 justify-center">
      <Link
        size="lg"
        style="outline"
        rel="noopener"
        href="/listado-protectora"
        class="flex gap-1 items-center justify-center"
        target="_blank">
         Listado de protectoras
      </Link>
    </div>
  </div>
</main>

<style>
  h2 {
    font-family: 'Dancing Script', cursive;
  }

  p {
    font-family: 'YourSansFont', sans-serif;
  }
</style>
