---
const { align = "center" } = Astro.props;
---

<div class:list={["m-2","p-16", align === "center" && "text-center", "bg-violet-100","border-gray-400",]}>
  <h1 class="section text-3xl lg:text-6xl font-bold lg:tracking-tight">
    <slot name="title"></slot>
  </h1>
  <p class="section-p text-xl mt-7 text-slate-600">
    <slot name="desc"></slot>
  </p>
</div>

<style>
  .section {
    font-family: 'Dancing Script', cursive;

  }
  .section.p{
    font-family: 'YourSansFont', sans-serif;
  }
</style>